In [1]:
!pip install clearml
import pandas as pd
from clearml import StorageManager, Dataset

ModuleNotFoundError: No module named 'clearml'

In [8]:
temp = pd.read_csv('../data/GDELT_OPS/test.txt',delimiter='\t')
temp.columns = ['src','rel','tgt','time']

In [9]:
max(temp['src'])

11382

In [10]:
max(temp['tgt'])

11382

In [9]:
temp['rel'].value_counts()

1    4221
0    4221
2    2906
Name: rel, dtype: int64

In [6]:
temp.head()

   src  rel   tgt
0    1    2  5873
1    2    2  5028
2    3    2  1533
3    4    2  5110
4    5    2  2919

In [ ]:
def read_orig(data_path):
    data = pd.read_csv(data_path,delimiter='\t')
    data.columns = ['src','rel','tgt','doc_id','time']
    return data

In [ ]:
def convert_data(data,file_path):
    main_data = data[['src','rel','tgt','time']]
    main_data.to_csv(file_path,sep='/t',header=False)

In [2]:
train = pd.read_csv('../data/GDELTS_OPS/train2id.txt',delimiter='\t')
val = pd.read_csv('../data/GDELTS_OPS/val2id.txt',delimiter='\t')
test = pd.read_csv('../data/GDELTS_OPS/test2id.txt',delimiter='\t')

train.columns = ['src','rel','tgt','doc_id','time']

In [ ]:
train_doc = data

In [4]:
data.head()

    src   rel  tgt   doc_id      time
0  1465  3471  252  7212252  20201202
1  3774  2383  128  7978390  20201225
2  5680  2383  132  4397666  20201225
3  8139  2383   76  6782384  20201225
4  2383  3774  132  7978390  20201225

In [3]:
data.shape

(14098652, 5)

In [13]:
new_data = data.drop_duplicates()
new_data.shape

(14098652, 5)